table {
    width: 50%;
    margin: auto;
    font-size: 1.5em;
}

th, td {
    padding: 15px;
    text-align: center;
}

thead {
    background-color: #4CAF50;
    color: white;
}

tbody tr {
    text-align: center;
}

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody tr:nth-child(odd) {
        background-color:white;
    }

    tbody tr:hover {
        background-color: #ddd;
    }
